<head>
    <style>
        .page-footer{
        background-color: #DEB887;
        }

        li{
        style-type: none;
        }
    </style>
</head>

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="module">
    <div class="h">

    <h3>About Us</h3><br/>
    <p>We are an online textbook center that deals with primary and secondary textbooks as per the new curriculum.</p>

    <h3>Our Services</h3><br/>
    <p>Sale of textbooks, Provides a platform where you can sell your books</p>


    <h3>Our Goals</h3><br/>
    <p>To be the best pservice deliverer you need.</p>

    <h2>Contacts</h2>
        <ul>
            <li>Phone: +254789456900</li>
            <li>Email: ebook@gmail.com</li>
            <li>Twitter: @EbookKe</li>
            <li>FaceBook: EbookKenya</li>
        </ul>
    </div>


  </footer>