<!DOCTYPE html>
{% extends "account/base.html" %}

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
    .formbody{
    margin-left: 150px;
    }


    </style>
</head>

{% include "navbar.html" %}

<body>

<div class="mt-5 pt-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>


    {% block content %}
    <br>
   <div class="formbody">

       <h3>Place your order by just uploading a list of books you want to buy.</h3>
    <br>
    <p>Minimum 10 books</p>

    <form id="uploadform" method="POST" action="{% url 'core:upload_file' %}">
        {% csrf_token %}
        We are an online textbook center that deals with primary and secondary textbooks as per the new curriculum.

        <br>
        <br>


        First Name: <input class="text" type="text" name="first_name" required placeholder="First name">
        <br>
        <br>

        Last Name:<input class="text" type="text" name="last_name" required placeholder="Last name">
        <br>
        <br>

        Phone: <input class="text" type="text" name="phone" required placeholder="Phone number">
        <br>
        <br>

        Email: <input class="text" type="text" name="email" required placeholder="Email">
        <br>
        <br>
        <p>Upload file with list of books</p>
        <p><input class="text" type="file" name="file" placeholder="Upload File"></p>
        <p><input class="btn btn-primary" type="submit"></p>
    </form>
   </div>

    {% endblock content %}
</body>
</html>